/* шрифты "PT Sans" 400, 700*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2");
}

/* общие стили сайта */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color:rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  margin: 0;
  height: 100%;
}

.list {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  color:rgba(0, 0, 0, 1);
}

.descrption {
  font-size: 22px;
  line-height: 26px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  min-height: 100vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header-button {
  min-width: 160px;
  align-self: center;
  margin-inline-start: 20px;
}

/* кнопки */

.button-brown {
  background-color: rgba(117, 97, 87, 1);
}

.button-brown:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button-brown:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: rgba(130, 179, 211, 1);
}

.button-blue:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-blue:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-favorites {
  background-color: rgba(125, 181, 79, 1);
}

.button-favorites:hover {
  background-color: rgba(108, 158, 66, 1);
}

.button-favorites:active {
  background-color: rgba(108, 158, 66, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: rgba(229, 229, 229, 1);
}

.filter-button-reset:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

.button {
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-block: 8px;
}

.button-little {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  min-height: 36px;
}

.button-large {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}м

/* убирает браузерные отступы списков */

.list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.navigation-list li,
.advantages-list li,
.recommendation-list li,
.social-navigation-list li,
.user-navigation-list li,
.filter li,
.product-cards li,
.pagination-list li {
  list-style-type: none;
}

/* убирает браузерное оформление ссылок */

.navigation a,
.page-footer a,
.product-cards a,
.pagination-list a {
  color:rgba(0, 0, 0, 1);
  text-decoration: none;
}

.navigation a:visited,
.page-footer a:visited,
.product-cards a:visited {
  color:rgba(0, 0, 0, 1);
}

/* HEADER */

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  min-height: 64px;
  padding: 0 70px;
  background-color: rgba(255, 255, 255, 1);
}

.navigation {
  display: flex;
  justify-content: space-between;
  min-height: 64px;
  width: 1060px;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 339px;
  flex-grow: 1;
  margin: 0 0 0 184px;
}

.navgation-logo {
  margin-right: 28px;
  position: absolute;
  z-index: 1;
}

.navigation-item {
  margin-right: 32px;
  height: 64px;
}

.navigation-link {
  color: inherit;
  display: inline-block;
  padding: 20px 0;
  height: 64px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.user-navigation-list {
  display: flex;
  align-items: center;
}

.user-navigation-item {
  width: 44px;
  height: 64px;
}

.active-page-link {
  border-bottom: 2px solid rgba(117, 98, 87, 1);
}

.user-navigation-link {
  display: block;
  min-width: 44px;
  height: 64px;
  background-position: 50% 50%;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.user-navigation-liked {
  background-image: url(../images/favorite.svg);
  background-repeat: no-repeat;
  position: relative;
}

.liked {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 11px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color:rgba(255, 255, 255, 1);
  border-radius: 50%;
  background-color: rgba(125, 181, 79, 1);
  width: 20px;
  height: 20px;
  text-align: center;
}

.user-navigation-search {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
}

/* INDEX */

.main-index {
  text-align: center;
  flex-grow: 1;
}

.slogan-wrapper {
  padding: 69px 250px;
}

.slogan-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.slogan-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

/* hero */

.hero {
  min-height: 485px;
  background: url("../images/index-background.jpg"), linear-gradient(to top,
  rgba(26,41,49,1) 0%,
  rgba(129,179,211,1) 37%,
  rgba(225,238,246,1) 78%);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: cover;
  padding-block-start: 51.4px;
}

/* advantages */

.advantages {
  position: relative;
}

.advantages::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 57px;
  background-image: url("../images/divider.svg");
}

.advantages-slogan {
  margin: 0 0 25px 0;
}

.advantages-list {
  margin-block-start: 21px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-wrapper {
  width: 400px;
  min-height: 385px;
  padding: 50px 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.wrapper-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.wrapper-dark-blue {
  background-color: rgba(130, 179, 211, 1);
}

.advantages-item {
  min-height: 385px;
}

.advantages-photo {
  width: 1200px;
  display: flex;
}

.advantages-title {
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  padding: 0 29px;
  margin: 0;
}

.advantages-title::after {
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.30);
  height: 2px;
  width: 60px;
  margin-top: 30px;
  margin-inline: auto;
}

.wrapper-dark-blue > .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.30);
}

.advantsges-description {
  margin-top: 30px;
  margin-bottom: 0;
}

.wrapper-dark-blue > .advantsges-description,
.wrapper-dark-blue > .subtitle {
  color:rgba(255, 255, 255, 1);
}

/* recommendation */

.recommendations-slogan {
  min-height: 246px;
  padding-inline: 350px;
  padding-block: 64px;
}

.recommendation-list {
  display: flex;
  flex-wrap: wrap;
}

.recommendation-item {
  padding: 183px 85px 81px 85px;
  background-position: center 80px;
  background-repeat: no-repeat;
}

.recommendation-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendation-housing {
  background-image: url(../images/advantages/advantages-housing.svg);
}

.recommendation-food {
  background-image: url(../images/advantages/advantsges-food.svg);
}

.recommendation-souvenirs {
  background-image: url(../images/advantages/agvantages-souvenirs.svg);
}

.recommendation-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.recommendation-description {
  width: 230px;
  margin: 0;
}

 /* index search */

.search {
  min-height: 406px;
  padding: 96px 304px;
}

.search .slogan-wrapper {
  padding: 0;
}

.search-button {
  padding-inline: 50px;
  margin-top: 54px;
}

/* subscribe */

.subscribe {
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  color:rgba(255, 255, 255, 1);
  background-color: rgba(51, 51, 51, 1);
  min-height: 415px;
  padding: 96px 40px 40px 40px;
}

.subscribe-title {
  margin-block: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color:rgba(255, 255, 255, 1);
}

.subscribe-description {
  color:rgba(255, 255, 255, 1);
  margin-bottom: 54px;
  margin-top: 20px;
  padding-inline: 320px;
}

.mailing-form {
  display: flex;
  justify-content: center;
}

.mailing-input {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: auto;
  border: none;
  border-radius: 4px 0 0 4px;
  margin: 0;
  background-color: rgba(242, 242, 242, 1);
  padding-inline-start: 20px;
}

.mailing-button {
  min-height: 52px;
  padding-inline: 50px;
  border-radius: 0 4px 4px 0;
}

.product-card-list a.button {
  color:rgba(255, 255, 255, 1);
}

.contact-link {
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.contact-link:hover {
  color: rgba(117, 97, 87, 1);
}

.contact-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.social-link:hover path {
  fill: rgba(104, 162, 202, 1);
}

.social-link:focus path {
  fill: rgba(104, 162, 202, 1);
}

.social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.filter-main-wrapper {
  background-image: url(../images/cataloge/cataloge-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 1);
  background-color:rgba(51, 51, 51, 1);
  padding: 35px 70px 70px;
}

.cataloge-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-block-end: 40px;
}

.breadcrumbs-main {
  background-image: url(../images/breadcrumbs-main.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 12px;
  height: 21px;
}

.breadcrumbs-link {
  display: block;
  width: 12px;
  height: 21px;
}

.breadcrumbs-item {
  display: flex;
  height: 21px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 21px;
  width: 7px;
  margin-inline: 11px;
}

.breadcrumbs-point {
  font-size: 16px;
  line-height: 21px;
}

.filter-form {
  display: flex;
  gap: 70px;
}

.filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-item {
  margin-top: 16px;
}

.filter-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.filter-lable {
  position: relative;
  font-size: 18px;
  line-height: 23px;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
  height: 48px;
  background-color: rgba(242, 242, 242, 1);
  border: none;
}

.input-min {
  border-radius: 4px 0 0 4px;
}

.input-max {
  border-radius: 0 4px 4px 0;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.filter-button {
  min-width: 191px;
}

.filter-button-submit {
  margin-block-end: 32px;
}

.filter-button-reset {
  background: none;
  border-radius: 4px;
}

.filter-button-reset:hover {
  opacity: 0.6;
}

.filter-button-reset:active {
  opacity: 0.3;
}

.filter-button-reset:disabled {
  opacity: 0.1;
}

.cataloge-wrapper {
  padding-inline: 70px;
  padding-block-start: 50px;
}

.filter-results {
  min-height: 49px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
}

.results-number {
  margin-left: 8px;
}
.results-select {
  appearance: none;
  height: 49px;
  width:  292px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding-inline: 20px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  font-family: inherit;
  background-image: url(../images/cataloge/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: 258px 18px;
}

.results-select:hover {
  border-color: rgba(104, 162, 202, 1);
}

.results-select:disabled {
  opacity: 0.3;
  border-color: rgba(0, 0, 0, 1);
}

.results-select:disabled ~ .results-select-wrapper::after {
  opacity: 0.3;
  background-image: none;
}

.product-info {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.product-price {
  text-align: right;
}

.product-card-link {
  display: block;
}

.product-card-title {
  margin-block: 16px;
}

.results-select-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;
}


.results-display-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.display-button {
  width: 48px;
  height: 48px;
  border: 2px solid rgba(229, 229, 229, 1);
  background-color: inherit;
}

.display-button-applied {
  border-color: rgba(0, 0, 0, 1);
}

.display-button:hover,
.display-button:active {
  border-color: rgba(0, 0, 0, 1);
}

.display-active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.display-cards {
  background-image: url(../images/cards.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.display-full {
  background-image: url(../images/full.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.display-list {
  background-image: url(../images/list.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 18px;
  justify-content: space-between;
  padding-block: 39px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.product-card-item {
  width: 342px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.product-card-image {
  display: block;
}

.product-card-title:hover {
  color: rgba(117, 97, 87, 1);
  opacity: 0.8;
}

.product-card-title:active {
  color: rgba(117, 97, 87, 1);
  opacity: 0.3;
}

.product-info-stars {
  display: inline-block;
  min-height: 37px;
  background-image: url(../images/cataloge/star.svg);
  background-repeat: repeat-x;
  background-position: left center;
  margin: 0;
}

.star-1 {
  width: 24px;
}

.star-2 {
  width: 48px;
}

.star-3 {
  width: 72px;
}

.star-4 {
  width: 96px;
}

.star-5 {
  width: 120px;
}

.product-info-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 20px;
}

.product-info-wrapper > .button {
  width: 140px;
  text-align: center;
  padding-block: 8px;
}

.raiting-wrapper {
  width: 140px;
  text-align: center;
  height: 37px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  padding-block: 8px;
}

.product-info-raiting {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.pagination-container {
  margin-top: 39px;
}

.pagination-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  text-align: center;
}

.pagination-item > span {
  font-size: 22px;
  display: block;
  line-height: 36px;
  padding: 12px;
  height: 60px;
  width: 60px;
}

a.pagination-link {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  padding: 12px;
  min-width: 60px;
  height: 60px;
}

a.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
}

a.pagination-link:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

li.pagination-item:first-child a {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.subscribe-cataloge {
  background-image: none;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 60px;
}

.subscribe-cataloge .subscribe-title {
  color: rgba(0, 0, 0, 1);
}

.subscribe-cataloge .subscribe-description {
  color:rgba(51, 51, 51, 1);
}

.field {
  border: none;
  padding: 12px 20px;
}

.field:hover,
.field:focus {
  background-color: rgba(230, 230, 230, 1);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding-inline: 70px;
  padding-block-start: 45px;
  padding-block-end: 35px;
}

.social-navigation-list {
  max-width: 200px;
  flex-wrap: wrap;
  display: flex;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
}

.footer-contsct {
  display: flex;
  align-items: center;
}

.footer-copiright {
  display: flex;
  align-items: center;
}

.copiright-link {
  display: block;
}

.copiright-logo:hover path {
  fill: rgba(117, 97, 87, 1);
}

.copiright-logo:focus-visible path {
  fill: rgba(117, 97, 87, 1);
}

.copiright-logo:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.group-grow {
  flex-grow: 1;
}

.filter-lable-wrapper {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  right: 20px;
  top: 0;
}

.infrastructure,
.housing {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.infrastructure-label,
.housing-label {
  line-height: 23px;
}

.infrastructure-mark {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  left: 0;
}

.housing-mark {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  left: 0;
}

.infrastructure:hover,
.housing:hover {
  opacity: 0.6;
}

.infrastructure:active,
.housing:active {
  opacity: 0.3;
}

.infrastructure-input[type="checkbox"]:checked + .infrastructure-mark:after {
  background-image: url(../images/cataloge/tick.svg);
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.housing-input[type="radio"]:checked + .housing-mark:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
}

.range-input-wrapper {
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 16px;
  padding-bottom: 8px;
}

.range-input {
  padding-inline: 20px 40px;
  -moz-appearance:textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 42px;
}

.range-bar {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  height: 4px;
}

.range-toggle {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
  top: -8px;
  cursor: pointer;
  box-sizing: content-box;
}

.range-toggle:active {
  border: 2px solid rgba(131, 179, 211, 1);
  top: -10px;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

/* MODAL */

.modal-container-closed,
.modal-container-closed + .modal-search {
  display: none;
}

.modal-container {
  position: fixed;
  display: flex;
  z-index: 2;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.80);
  top: 0;
  left: 0;
}

.modal-search {
  width: 717px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  position: fixed;
  top: 396px;
  margin-inline: auto;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
.modal-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 64px;
}

.date-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.field-group {
  border: 0;
  padding: 0;
  margin: 0;
}

.date-group {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.number-group {
  display: flex;
  justify-content: space-between;
  margin-block: 48px;
}

.number-wrapper {
  display: flex;
  align-items: center;
  min-width: 247px;
  gap: 10px;
  justify-content: space-between;
}

.children-number-wrapper {
  min-width: 242px;
}

.number-button-wrapper {
  display: flex;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  width: 111px;
  align-items: center;
  justify-content: space-evenly;
}

.modal-tooltip {
  position: relative;
  display: inline-block;
  height: 26px;
  margin-left: 10px;
}

.tooltip-text {
  text-transform: none;
  position: absolute;
  top: 41px;
  left: -115px;
  z-index: 1;
  display: none;
  align-items: center;
  width: 256px;
  min-height: 143px;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  padding: 15px 18px 18px 22px;
}

.tooltip-text::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 118px;
  width: 19px;
  height: 9px;
  background-image: url(../images/modal/triangle.svg);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: flex;
}

/* modal button */

.modal-close-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(242, 242, 242, 1);
}

.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:focus {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:active {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:active path {
  fill-opacity: 0.3;
}

.modal-submit-button {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  padding-block: 18px;
  border-radius: 10px;
}

.number-button {
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.number-button:hover path {
  fill: rgba(0, 0, 0, 1);
  fill-opacity: 1;
}

.number-button:active path {
  fill-opacity: 0.2;
}

.modal-toggle {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: rgba(131, 179, 211, 1);
  background-image: url(../images/modal/info.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* modal labels */

.modal-label {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 1);
}

.date-label {
  max-width: 120px;
}

.number-label {
  max-width: 160px;
}

/* modal inputs */

.modal-input {
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.date-input {
  width: 440px;
  margin-left: 8px;
  line-height: 24px;
  background-image: url(../images/modal/calendar.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right center;
}

.number-input {
  width: 31px;
  padding-inline: 0;
  padding-block: 14px;
  border-radius: 0;
  text-align: center;
  -moz-appearance:textfield;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

/* modal notes */

.modal-note {
  position: absolute;
  top: 100%;
  padding-inline: 157px 20px;
  padding-top: 4px;
  font-size: 16px;
}

.error-note {
  color: rgba(255, 87, 87, 1);
}
